/* Tipografías */




.copy {
   font-size: 15px;
}

div,li,p {
   font-family: 'Sanchez', sans-serif;
   font-size: 13px;
}

h2,h3,.copy {
   font-family: 'Special Elite', cursive;
}

h1 {
   font-family: 'Permanent Marker', cursive;
}

h4,h5,h6 {
   font-family: 'Averia Sans Libre', cursive;
}
